# Dependencies
node_modules/

# Build outputs
dist/
*.local

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage / tests
coverage/

# Cache
*.tsbuildinfo

# Env
.env
.env.*.local

# Keep generated tracks in version control
!public/tracks/
!public/tracks/*.json
